header,
footer,
nav,
article {
    display: flex;
}

* {
    font-size: 15px;

}


.list a {
text-decoration: none;
font-family: serif;
color: #000000;
display: inline-block;
padding: 5px 20px;
background-color: rgb(146, 141, 144);
border-bottom: 1rem solid #f0f0f0;
}

body {
background-color: rgb(255, 255, 255);
margin-left: auto;
margin-right: auto;
max-width: 960px;
}

a {
color:#585858;
text-decoration: none;
outline: none;
border-bottom: 1 px solid;
}

a:link {
color:#000000;
}

a:visited {
color:#504f4f;
}

a:hover {
color:#b7b7b7;
}

a:active {
color:#504f4f;
}

h1, h2 {
font-family:serif, 'Ariel', Times, serif;
font-size:x-large;
}

.list {
list-style: none;
float:right;
}

table {
table-layout: fixed;
border: 1px solid black;
background-color: #bbbbbb;

}
th {
border: 1px solid black;
}
td {
border: 1px solid black;
}
tbody tr:nth-child(odd) {
background-color: #636363;
}

tbody tr:nth-child(even) {
background-color: #9f9f9f;
}
caption {
padding: 20px;
color: #000000;
text-align: center;
letter-spacing: 1px;
}
.list a {
    text-decoration: none;
    font-family: serif;
    color: #000000;
    display: inline-block;
    background-color: rgb(240, 20, 134);
    border-bottom: 1rem solid #e483b5;
}

header img {
    position: relative;
    max-width: 220px;
    max-height: 110px;
    margin: 0;
}

header h1 {
    padding-top: 50px;
}

header {
    margin: 0;
    display: block;
    padding: 0;
    height: 200px;
    color: rgb(0, 0, 0);
    background-color: #bbbbbb;
}

nav {
    min-width: 150px;
    margin: 0 auto;
    position: relative;
    margin: 0 0 0 40px;
    flex-wrap: wrap;
}

nav a {
    min-width: 100%;
}

#spisok,
#element {
    padding: 0 20px;
}

ul {
    padding: 5px 20px;
}

.img_item {
    position: relative;
    max-width: 100%;
}

.table {
    margin: 0 20px;
}

table * {
    font-size: 10px;
}
caption {
    font-size: 15px;
    color: #000000;
    text-align: center;
    letter-spacing: 1px;
}

.Form {
    margin: 20px;
}

.Form * {
    padding: 4px 0;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #bbbbbb;
    color: #000000;
}

@media (min-width: 500px) {

    header,
    footer,
    nav,
    article {
        display: block;
    }

    header {
        padding: 12px;
        height: 150px;
    }


    header h1 {
        margin-top: 15px;
    }

    header img {
        position: static;
        max-width: none;
        max-height: none;
    }

    .list a {
        display: inline-block;
        padding: 5px 20px;
    }

    nav a {
        font-size: 16px;
    }

    body {
        max-width: 960px;
    }

    #spisok,
    #element {
        padding: 0;
    }

    ul {
        margin-left: 40px;
    }

    h1, h2 {
        font-family:serif, 'Ariel', Times, serif;
        font-size:x-large;
    }

    caption {
        padding: 20px;
    }

    .content {

        max-width: 960px;
        margin: 0 auto;
    }


    ul *{
        font-size: 16px;
    }

    ul {
        padding: 0;
    }

    .img_item {
        position: relative;
        max-width: 100%;
    }

    .table {
        margin: 0;
    }

    table * {
        font-size: 16px;
    }

    caption {
        font-size: 16px;
    }

    .Form {
        margin: 0;
    }
   #Programming-language{
        font-size: 15px;
    }

    .Form * {
        font-size: 16px;
        padding: 0;
    }

   ::placeholder{
        font-size: 13px;
    }

    #Birthday{
        font-size: 13.5px;
    }

    #Programming-language option{
        font-size: 14px;
    }

    footer {
        display: flex;
        justify-content: center;
    }
}
