header, footer, nav, article {display: block;}

header {
    color:rgb(57, 58, 47);
    background-color:#2c3951bd;
    padding:12px;
}

.golova {
    display: flex;
}

#nazv {
    flex-grow: 4;
    padding: 5px 20px 5px 5px;
    width: 372px;
    height: 57px;
    flex-shrink: 0;
    align-self:flex-end;
    text-align: right;
    position: static;
}

table {
    font-size: 14px;
}
.logo {
    width: 100px;
    float: left;
    margin-right: 10px;
}

.menu {
    font-size: 0.9rem;
    color: #2c3951bd;
    margin-top: 1rem;
    height: auto;
}

img {
    width: 80%;
    max-width: 800px;
}

body {
    height: 100%;
    margin: 0;
    background-color: rgb(233, 233, 207);
}

.list {
    list-style: none;
}

.list a {
    width: 100%;
    text-decoration: none;
    color: #43437f;
    display: inline-block;
    padding: 5px 20px;
    background-color: rgb(201, 201, 210);
    border-bottom: 5px solid #1a1a60;
}

a {
    color:#62654f;
    text-decoration: none;
    outline: none;
    border-bottom: 1px solid;
}

a:link {
    color:#333525;
}

a:visited {
    color:#444637;
}

a:hover {
    color:#878a75;
}

a:active {
    color:#393b2c;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #5e562a;
    color: #fff;
}

@media screen and (min-width: 800px) {
    .list {
        list-style: none;
        position: absolute;
        top: 15px;
        right: 0;
        float: left;
        text-align: left;
    }

    #nazv {
        width: 246px;
        height: 50px;
        flex-shrink: 0;
        text-align: left;
    }
}
